<ul class="nav navbar-nav navbar-right">
  <li class="dropdown" id="false" dropdown *ngIf="!isAuthenticated">
    <a class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" *dropdownMenu>
      <li><a [routerLink]="['/auth']">Registrarse</a></li>
      <li role="separator" class="divider"></li>
      <li><a [routerLink]="['/auth', 'login']">Ingresar</a></li>
    </ul>
  </li>

  <li class="dropdown" id="true" dropdown *ngIf="isAuthenticated">
    <a  class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" *dropdownMenu>
      <li><a routerLink="/user/add-product">Agregar Producto</a></li>
      <li role="separator" class="divider"></li>
      <li><a routerLink="/user/user-profile">Mi Perfil</a></li>
      <li><a routerLink="/user/products-offer">Mis Productos</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Editar Perfil</a></li>
      <li><a (click)="logout()">Salir</a></li>
    </ul>
  </li>

</ul>