.padding-top {
  padding-top: 50px;
}

.pdp-add-to-bag {
  width: 60%;
  text-align: center;
  padding: 10px 0;
  background-color: #20bd99;
  border: 1px solid #20bd99;
  color: #fff;
}

.pdp-button {
  border-radius: 3px;
  outline: 0;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 15px;
  min-height: 22px;
}

.image-container {
  display: inline-block;
  height: 500px;
  width: 480px;

  .thumbnails-selected-image {
    height: 500px;
    min-height: 300px;
    width: 420px;
    background: rgb(245, 245, 246) none repeat scroll 0% 0% / auto padding-box border-box;
    }

}

.title {
  color: #696e79;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 16px;
}

.selling-price {
  font-size: 16px;
  margin: 10px 0;
}

.vatInfo {
  color: #7e818c;
  font-size: 13px;
}

strong {
  font-family: Whitney-SemiBold, Whitney;
  color: #282c3f;
}
