<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">INFORMACION PERSONAL</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center">
        <img class="img-circle img-responsive" itemprop="image" [src]="getUserImageUrl()" onerror="this.src='./assets/image-not-found.png'" id="userImage" /> 
      </div>
      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>NOMBRE:</td>
              <td>{{user.nombre}}</td>
            </tr>
            <tr>
              <td>DOCUMENTO:</td>
              <td>{{user.nrodocumento}}</td>
            </tr>
            <tr>
              <td>MIEMBRO DESDE:</td>
              <td>{{user.createdAt}}</td>
            </tr>
            <tr>
              <tr>
                <td>Email</td>
                <td>
                  <a href="mailto:{{user.email}}">{{user.email}}</a>
                </td>
              </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
