<div class="row register-container" data-hook="">
  <div id="content" class="col-sm-12" data-hook="">
    <div class="col-md-5 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registrar usuario</h3>
        </div>
        <div id="existing-customer" class="panel-body" data-hook="login">
          <form class="register-register-form" novalidate="" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <fieldset class="register-input-container">
              <div class="register-input-item">
                <input type="email" class="register-user-input-email register-user-input" name="nombre" formControlName="nombre" placeholder="Nombres"
                  autocomplete="off">
                <div *ngIf="signUpForm.get('nombre').errors && signUpForm.get('nombre').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">{{signUpForm.get('nombre').errors.msg || 'Ingrese caracteres validos'}}</p>
                </div>
              </div>
              <div class="register-input-item">
                <div style="border-top: 1px solid #d5d6d9;padding: 15px 0 15px 0;">
                  <label style="margin-right: 10%">
                    <input type="radio" [value]="tipousuarios.natural" [(ngModel)]="selectedTipoUsuario" (ngModelChange)="errTipoDocumento()" formControlName="tipousuario">
                    <span>Natural</span>
                  </label>
                  <label style="margin-left: 10%">
                    <input type="radio" [value]="tipousuarios.juridico" [(ngModel)]="selectedTipoUsuario" (ngModelChange)="errTipoDocumento()" formControlName="tipousuario">
                    <span>Juridico</span>
                  </label>
                </div>
                <div *ngIf="signUpForm.get('tipousuario').errors && signUpForm.get('tipousuario').touched">
                    <span class="register-error-icon">!</span>
                    <p class="register-error-message">{{signUpForm.get('tipousuario').errors.msg || 'Debe seleccionar un tipo de usuario'}}</p>
                  </div>
              </div>
              <div class="register-input-item">
                <input type="number" class="register-user-input-mobile register-user-input" name="nrodocumento" formControlName="nrodocumento"
                  placeholder="Nro. documento">
                <div *ngIf="signUpForm.get('nrodocumento').errors && signUpForm.get('nrodocumento').touched" >
                  <span class="register-error-icon">!</span>
                  <p *ngIf="!selectedTipoUsuario" class="register-error-message">{{'Por favor seleccione un tipo de usuario'}}
                    </p>
                  <p *ngIf="selectedTipoUsuario && esTipoDni()" class="register-error-message">{{signUpForm.get('nrodocumento').errors.msg || 'Por favor ingrese un numero de DNI valido ( 8 digitos)'}}
                  <p *ngIf="selectedTipoUsuario && !esTipoDni()" class="register-error-message">{{signUpForm.get('nrodocumento').errors.msg || 'Por favor ingrese un numero de RUC valido ( 11 digitos)'}}
                  </p>
                </div>
              </div>
              <div class="register-input-item">
                <input style="border-top: 1px solid #d5d6d9" type="email" class="register-user-input-email register-user-input" name="email"
                  formControlName="email" placeholder="Correo electronico" autocomplete="off">
                <div *ngIf="signUpForm.get('email').errors && signUpForm.get('email').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">{{signUpForm.get('email').errors.msg || 'Por favor, ingrese un correo electrónico valido'}}</p>
                </div>
              </div>
              <div class="register-input-item">
                <input type="password" class="register-user-input-password register-user-input" name="password" formControlName="password"
                  placeholder="Ingresar contraseña" autocomplete="off">
                <div *ngIf="signUpForm.get('password').errors && signUpForm.get('password').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">{{signUpForm.get('password').errors.msg || 'La contraseña debe de tener por lo menos 6 caracteres'}}</p>
                </div>
              </div>
              <div class="register-input-item">
                <input type="password" class="register-user-input-password register-user-input" name="password_confirmation" formControlName="password_confirmation"
                  placeholder="Confirmar contraseña" autocomplete="off">
                <div *ngIf="(signUpForm.get('password_confirmation').errors || signUpForm.hasError('mismatchedPasswords')) && signUpForm.get('password_confirmation').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">{{ 'Las contraseñas deben coincidir'}}</p>
                </div>
              </div>
              <div class="register-input-item">
                  <label for="file">Seleccionar imagen</label>
                <input type="file" class="register-user-input-password register-user-input" id="image" (change)="handleFileInput($event.target.files)" name="image" formControlName="image">
              </div>
            </fieldset>
            <fieldset class="register-register-button-container">
              <button class="btn btn-danger register-register-button">REGISTRARSE</button>
            </fieldset>
          </form>
          <div class="register-link-container">
            <small>
              <div class="register-login-link">
                <span class="register-info-text">Tiene una cuenta?</span>
                <a class="register-create-account-link register-link text-danger" [routerLink]="['/auth','login']">Ingrese!</a>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
