.bread_crumb {
    color: red;
    position: relative;
    margin: 25px 0;
    font-size: 13px;
    background-color: white !important;
  }
  .bread_crumb li {
    font-size: 13px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    color: #696b79;
    text-transform: capitalize;
  }
  .bread_crumb li a {
    color: #696b79;
  }
  .bread_crumb li:after {
    font-size: 10px;
    content: '/';
    margin-left: 5px;
  }
  .bread_crumb li:last-child {
    font-weight: 500;
    margin-right: 0;
    font-family: Whitney-semi-bold;
  }
  .bread_crumb li:last-child:after {
    content: '';
    margin-right: 0;
  }
  ul.bread_crumb:before, ul.bread_crumb:after {
    content: "";
    display: table;
  }
  